.App-logo-header {
  height: 60px;
  justify-self: center;
  pointer-events: none;
  width: 190px;
}

.header {
  align-items: center;
  background-color: #9e3ced;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
}

.header-player {
  align-items: center;
  background-color: #24c0ff;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
  max-width: fit-content;
  min-width: 200px;
  padding: 5px;
  padding-right: 16px;
}

.area-header-player {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.h-player-name, .h-player-score {
  color: white;
  line-height: 1px;
  margin-right: 6px;
  padding-bottom: 8px;
}
